<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.silencer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="16" />


    <uses-permission android:name="android.permission.WRITE_SETTINGS" ></uses-permission>
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" ></uses-permission>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" ></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >


        <activity
            android:name="com.example.silencer.MainActivity"
            android:configChanges="orientation"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.silencer.TaskPane"
            android:label="@string/title_activity_task_pane" >
        </activity>
        <activity
            android:name="com.example.silencer.TaskPaneEdit"
            android:label="@string/title_activity_task_pane_edit" >
        </activity>


        <receiver
            android:name=".resivers.onSoundResiver" >
        </receiver>
        <receiver
            android:name=".resivers.offSoundResiver" >
        </receiver>
        <receiver
            android:name=".resivers.stateSoundResiver">
            <intent-filter>
                <action android:name="android.media.RINGER_MODE_CHANGED" />
             </intent-filter>
        </receiver>
        <service
            android:name="MyService">
        </service>

    </application>

</manifest>
